Verification

Loan Verification

This module is used to verify Loans.The task should be completed by authorized loan officers

To access this sub module click on:Loan Origination Module -> Navigate -> Operations -> Application - > Verification

After Loan approval, the next stage is verification where approved Loan cases will be verified. The loan cases can either pass as verified, can be Rejected or Differed. A similar window to the Loan approval shows as below.

Verification

Loan Origination Fig.1: Loan Verification

The verifying officer will make an assessment of the Loan case and based on that he/she will enter a reference for the verification and some remarks. The highlighted figure below shows the areas that will be updated.

Verification

Loan Origination Fig.1 (ii): Loan Audit

A Confirmation of a successful audit will pop up after clicking on the update button

Verification

Note:The loan disbursement is done under the accounts module.The authorized officer will disburse under that module in the accounts department